#$Id$
#{{ ansible_managed }}
ListenAddress {{ ansible_ssh_host }}
PermitRootLogin without-password
AuthorizedKeysFile	/etc/ssh/authorized_keys/%u
PasswordAuthentication no
ChallengeResponseAuthentication no
AllowTcpForwarding yes
GatewayPorts yes
UsePAM yes
Subsystem	sftp	/usr/lib/ssh/sftp-server
